html {
    font-size: 62.5%
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100vw;
    background-color: hsl(30, 10%, 34%);
}

.card {
    width: min(100%, 45rem);
    height: min(100%, 75rem);
    margin: auto;
    padding: 2.5rem 2.5rem;
    border-radius: 1.25rem;
    background-color: hsl(0, 0%, 100%);
}

img {
    width: 100%;
    height: 50%;
    border-radius: 0.8rem;
    overflow: hidden;
}