html {
    font-size: 62.5%
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100vw;
}

.card {
    width: min(100%, 45rem);
    height: min(100%, 75rem);
    margin: 7.75rem auto 6.75rem auto;
    padding: 2.5rem;
    border-radius: 1.25rem;
    background-color: white;
}

img {
    width: 100%;
    border-radius: 0.8rem;
    padding-top: 35rem;
}