html {
    font-size: 62.5%
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100rem;
    width: 135rem;
    background-color: hsl(30, 18%, 87%);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.card {
    width: min(100%, 45rem);
    height: auto;
    margin: auto;
    padding: 2.5rem;
    border-radius: 1.25rem;
    background-color: hsl(0, 0%, 100%);
}

img {
    width: 100%;
    height: 50%;
    border-radius: 0.8rem;
    overflow: hidden;
}

.recipe_name {
    font-family: Young Serif, serif;
}

.ingredients, .time, .instructions {
    color: hsl(24, 5%, 18%);
}

h2 {
    font-family: Young Serif, serif;
    color: hsl(14, 45%, 36%);
}

p, ul, ol {
    font-family: Outfit;
    line-height: 1.85rem;
    font-size: 1.45rem;
}

.nutrition {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 1.45rem;
    font-family: Outfit;
}

.nutrition td {
    padding: 0.5rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition td:first-child {
    text-align: left;
}

.nutrition td:last-child {
    text-align: right;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
